.container {
  max-width: 600px;
  margin: 0 auto;
}

.card {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.darkMode {
  background-color: #333;
  color: #fff;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.authButtonsContainer {
  text-align: center;
  margin-top: 20px;
}

.featureCard {
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.featureIcon {
  font-size: 2em;
  margin-bottom: 10px;
  color: #007bff;
}

.newsUpdateCard {
  background-color: #f8f9fa;
}

.promotionCard {
  background-color: #d4edda;
}

.welcomeMessage {
  text-align: center;
}

.homeIcon {
  text-align: center;
  margin-top: 20px;
}

.loginButton,
.registerButton {
  margin: 10px;
  font-size: 1.2em;
}

.dialogContent {
  padding: 20px;
}

.darkModeToggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.darkModeToggle:hover {
  background-color: #0056b3;
}
